"#####キーバインド#####
"ここをコピれば、他のキーバインドにも対応出来る
"inoremap <Space>j <Esc>
noremap <Space>o o<Esc>
noremap <Space>p o<Esc>p
noremap <Space>h ^
noremap <Space>l $

set clipboard=unnamed,autoselect "OSのクリッポボードと連携
