" common keymap
source ~/.vimrc.keymap

" jetbrains actions
" how to check: `:actionlist`
nnoremap gd :action GotoDeclaration<CR>
nnoremap <Leader>gt :action GotoTypeDeclaration<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <Leader>gs :action GotoSuperMethod<CR>
nnoremap <Leader>b :action JumpToLastChange<CR>
nnoremap <Leader>ga :action GotoAction<CR>
vnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>== :action ReformatCode<CR>
vnoremap <Leader>== :action ReformatCode<CR>

" ideavim-easymotion
