" common keymap
source ~/.vimrc.keymap

" jetbrains actions
" how to check: `:actionlist`
nnoremap gd :action GotoDeclaration<CR>
nnoremap gy :action GotoTypeDeclaration<CR>
nnoremap gI :action GotoImplementation<CR>
nnoremap cd :action RenameElement<CR>

nnoremap <Leader>== :action ReformatCode<CR>
vnoremap <Leader>== :action ReformatCode<CR>

" ideavim-easymotion
set easymotion
map <Leader>f <Plug>(easymotion-bd-f)
nmap s <Plug>(easymotion-bd-f2)
nmap g/ <Plug>(easymotion-sn)
map <Leader>L <Plug>(easymotion-bd-jk)
map <Leader>w <Plug>(easymotion-bd-w)
