" common keymap
source ~/.vimrc.keymap

" jetbrains actions
" how to check: `:actionlist`
nnoremap gd :action GotoDeclaration<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gy :action GotoTypeDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap <Leader>r :action RenameElement<CR>
nnoremap <Leader>s :action GotoSymbol<CR>

nnoremap <Leader>== :action ReformatCode<CR>
vnoremap <Leader>== :action ReformatCode<CR>

" ideavim-easymotion
set easymotion
map gf <Plug>(easymotion-bd-f)
nmap s <Plug>(easymotion-bd-f2)
nmap g/ <Plug>(easymotion-sn)
